# Ignorer les fichiers générés pour Symfony
lukas_symfony_website/var/
lukas_symfony_website/vendor/
lukas_symfony_website/.env.local
lukas_symfony_website/.env.*.local
lukas_symfony_website/public/bundles/
lukas_symfony_website/phpunit.xml
lukas_symfony_website/phpunit.xml.dist
lukas_symfony_website/node_modules/

# Ignorer les fichiers générés pour Next.js
lukas_next_react_website/node_modules/
lukas_next_react_website/.next/
lukas_next_react_website/.env.local
lukas_next_react_website/.env.*.local
lukas_next_react_website/out/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers d'éditeurs courants
.vscode/
.idea/
